<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninetwozero.battlelog"
    android:versionCode="9"
    android:versionName="1.0.7"
	android:installLocation="auto"
> 
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8" />

    <application
        android:icon="@drawable/app_logo"
        android:label="@string/app_name" 
       	android:theme="@android:style/Theme.Light"
   	>
        <activity
            android:label="@string/app_name"
            android:name=".Main"
            android:orientation="vertical"
          	android:configChanges="orientation"
		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
				<action android:name="com.ninetwozero.battlelog.widgets.BattlelogAppWidgetProvider.ACTION_WIDGET_OPENAPP"/>
            	<category android:name="android.intent.category.LAUNCHER" />    
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_main_menu"
            android:name=".Dashboard"
            android:orientation="vertical"
          	android:configChanges="orientation"
          	android:windowSoftInputMode="stateHidden"
		/>
		<activity
            android:label="@string/title_about"
            android:name=".AboutView"
            android:orientation="vertical"
          	android:configChanges="orientation"
          	android:windowSoftInputMode="stateHidden"
       />
        <activity
            android:label="@string/title_main_menu"
            android:name=".ViewPagerDashboard"
            android:orientation="vertical"
          	android:configChanges="orientation"
          	android:windowSoftInputMode="stateHidden"
       />
       <activity
            android:label="@string/app_name"
            android:name=".DebugActivity"
            android:orientation="vertical"
          	android:configChanges="orientation"
        />
        <activity
            android:label="@string/title_profile"
            android:name=".ProfileView"
          	android:configChanges="orientation"
		/>
        <activity
            android:label="@string/title_platoon"
            android:name=".PlatoonView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="@string/title_platoon_invite"
            android:name=".PlatoonInviteView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="@string/title_performance"
            android:name=".StatsView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="@string/title_chat"
            android:name=".ChatView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="@string/title_comments"
            android:name=".SinglePostView"
          	android:configChanges="orientation"
          	android:windowSoftInputMode="stateHidden"
        />
        <activity
            android:label="@string/title_comparing_battle_scars"
            android:name=".CompareView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="@string/title_forum"
            android:name=".BoardView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="@string/title_forum_view"
            android:name=".ForumView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="@string/title_forum_search"
            android:name=".ForumSearchView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="@string/title_thread_view"
            android:name=".ForumThreadView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="@string/title_forum_report"
            android:name=".ForumReportView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="@string/title_unlocks"
            android:name=".UnlockView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="@string/title_search"
            android:name=".SearchView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="@string/title_settings"
            android:name=".SettingsView"
          	android:configChanges="orientation"
          	android:theme="@android:style/Theme.Light"
        />
        <activity
            android:label="@string/title_assignments"
            android:name=".AssignmentView"
          	android:configChanges="orientation"
        />
		<receiver android:name="com.ninetwozero.battlelog.widgets.BattlelogAppWidgetProvider" android:label="@string/widget_name">
			<intent-filter>
		         <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		         <action android:name="android.appwidget.action.ACTION_WIDGET_RECEIVER" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/appwidget">  
			</meta-data>
		</receiver>
		<service android:enabled="true" android:name=".services.BattlelogService" />
    </application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>