<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninetwozero.battlelog"
    android:versionCode="8"
    android:versionName="1.0.6"
	android:installLocation="auto"
> 
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8" />

    <application
        android:icon="@drawable/app_logo"
        android:label="@string/app_name" 
       	android:theme="@android:style/Theme.Light"
   	>
        <activity
            android:label="@string/app_name"
            android:name=".Main"
            android:orientation="vertical"
          	android:configChanges="orientation"
		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
				<action android:name="com.ninetwozero.battlelog.widgets.BattlelogAppWidgetProvider.ACTION_WIDGET_OPENAPP"/>
            	<category android:name="android.intent.category.LAUNCHER" />    
            </intent-filter>
        </activity>
        <activity
            android:label="BF3 Battlelog - Main menu"
            android:name=".Dashboard"
            android:orientation="vertical"
          	android:configChanges="orientation"
          	android:windowSoftInputMode="stateHidden"
        />
        <activity
            android:label="BF3 Battlelog - Profile"
            android:name=".ProfileView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="BF3 Battlelog - Platoon"
            android:name=".PlatoonView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="BF3 Battlelog - Your performance"
            android:name=".StatsView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="BF3 Battlelog - Chatting with ..."
            android:name=".ChatView"
          	android:configChanges="orientation"
          	android:windowSoftInputMode="adjustResize"
        />
        <activity
            android:label="BF3 Battlelog - Comments"
            android:name=".CommentView"
          	android:configChanges="orientation"
          	android:windowSoftInputMode="adjustResize"
        />
        <activity
            android:label="BF3 Battlelog - Comparing battle scars"
            android:name=".CompareView"
          	android:configChanges="orientation"
        />
        <activity
            android:label="BF3 Battlelog - Your upcoming unlocks"
            android:name=".UnlockView"
          	android:configChanges="orientation"
        />
		<receiver android:name="com.ninetwozero.battlelog.widgets.BattlelogAppWidgetProvider" android:label="@string/widget_name">
			<intent-filter>
		         <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		         <action android:name="android.appwidget.action.ACTION_WIDGET_RECEIVER" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/appwidget">  
			</meta-data>
		</receiver>
    </application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>